# Conexão com o Banco de Dados (usado pelo Python e pelo Docker)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=hospital_dw
MYSQL_USER=user
MYSQL_PASSWORD=userpassword
MYSQL_ROOT_PASSWORD=rootpassword

# Metabase
METABASE_PORT=3000
