# ==========================================
# Configurações do MySQL (Container e Python)
# ==========================================
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=hospital_dw
MYSQL_USER=user
MYSQL_PASSWORD=userpass
MYSQL_PORT=3306

# Host para scripts Python (Host local)
MYSQL_HOST=127.0.0.1

# ==========================================
# Configurações do Metabase
# ==========================================
MB_IMAGE=v0.59.6.1
MB_CONT_NAME=hospital_metabase
MB_PORT=3000

# Conexão interna do Metabase com o MySQL (Rede Docker)
MB_DB_TYPE=mysql
MB_DB_HOST=hospital_mysql
MB_DB_PORT=3306
MB_DB_DBNAME=metabase_db