# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env

# Logs
logs/*
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db

# Tratamento de imagens
*.svg
